# Active environment: staging | production
NODE_ENV=staging

# Optional friendly environment name
ENV_NAME=staging

# HTTP/HTTPS ports
HTTP_PORT=4000
HTTPS_PORT=4001

# HTTPS PEM file paths
HTTPS_KEY_PATH=./https/key.pem
HTTPS_CERT_PATH=./https/cert.pem